<!-- 
     Member VIEW 
     ===========
     
     Description :
     -------------
     It's responsable of showing a summary member profile.
     It defines a JS template to render the information

     Social extension applied :
     --------------------------
     member : to show extra information from a Profile (It should produce JS templating [String])
     
-->
<script type="text/tmpl" id="profile_summary">

  <%% if (index%4==0) { %>
  <!--div class="container_12"-->
  <%% } %>

    <div class="profile_summary grid_2">
  
      <div class="profile_summary_photo_block">
  
        <a href="/profile/<%%= profile.username%>">
          <img class="profile_summary_photo" src="<%%= profileSummaryModel.photo_url(profile) %>"/>
        </a>

      </div>
  
      <div class="profile_summary_data">
  
          <div>
          <a href="/profile/<%%= profile.username%>"><%%= profile.full_name.split(' ')[0].substring(0,15) %></a>&nbsp;<span class="age">(<%%= profile.age || '-' %>)</span>    
          </div>
          
          <!-- profile extensions (plus data) -->
         
          <%= call_hook(:community_member) %>
   
      </div>
    
      <div class="profile_summary_actions">
         <div><a href='javascript:profileSummaryController.showMessageForm(\"<%%=profile.username%>\",\"<%%=profile.full_name%>\")'><img src="<%="/community/img/Mail.png"%>" alt="<%= t.community.send_a_message%>" title="<%= t.community.send_a_message%>" width="20" height="20"/></a></div>
      </div>      

    </div>

  <%% if (index > 0 && (index+1)%4==0) { %>
  <!--/div-->
  <%% } %>

</script>

<!-- Send a message (the block to send a message) -->

<div id="send_message_form">

  <%= send_message_form %>

</div>

<!--  -->

<script type="text/javascript">

  profileSummaryModel = {
	
	sender: '<%=user['username']%>', /* The message sender (the connected user) */
		
	photo_url : function(profile) {
	
	    var photo = null;
	    
	    if (photo=YSD.photoGallery.media_url('/photo_gallery', profile.photo, 'small')) {
	      return photo;	
	    }
	    else
	    {
	      if (profile.sex && profile.sex === '1') {
	        return '<%="/profile/img/woman_small.jpg"%>';
	      }
	    }
	    
	    return '<%="/profile/img/man_small.jpg"%>';
	    		
	}

  };

  profileSummaryController = {

  	showMessageForm : function(to, to_name) { /* Show the message form */
  	
  	  var from = '<%=user['username']%>';
  	  var from_name = '<%=user['full_name']%>';	
  	  var messageForm = document.getElementById('send_message_form');
  	  
  	  messageModel.setSubject('');
  	  messageModel.setSender({'address': from, 'name': from_name});
  	  messageModel.addReceiver({'address': to, 'name': to_name});
  	  
  	  messageView.showForm();
  	  	
  	}
  	
  };
  
  profileSummaryView = {
  
    init: function() {
            	  
    }
    
  };
  	
  profileSummaryView.init();	


</script>