<%            
   age_sex = []
          
   case profile.sex
      when '0' 
         age_sex << t.profile_form.male 
      when '1' 
         age_sex << t.profile_form.female
      else
         age_sex << t.profile_form.male 
   end 
          
   if age=profile.age            
     age_sex << "#{age} #{t.profile.years}"
   end
          
%>

<div>
  
  <div id="profile_header" class="container_12 bottom-margin bottom-space top-margin">
    <div class="box-shadow color-2 background-color-1 overflow all-space">
     
     <div id="profile-photo" class="grid_3">
      <div class="right-separator right-margin">
        <div class="centered_text" style="font-size:2em; margin-bottom:0.2em"><%=profile.full_name%></div>
        <img id="profile_photo_img" src="<%=profile_photo_url(profile)%>"/>
      
        <% if user.username == profile.username %>
          <div class="margin-top smaller_text">
            <%= profile_action %>
            <div id="edit_profile_button" class="centered_text"><a href="/profile/edit"><%=t.profile.edit_profile%></a></div>
          </div>
        <% end %> 

        <% if profile.country_of_origin %>
        <div class="centered_text bottom-margin smaller_text">
          <span data-icon="&#xe004;" aria-hidden="true"><%=profile.country_of_origin%></span>
        </div> 
        <% end %>

        <div id="profile-actions" class="centered_text">
          <% if user.username != profile.username %>
            <%= profile_not_owner_action %>
          <% end %>
          <% if defined?element_actions and not element_actions.empty? %>
            <%= element_actions %>
          <% end %>       
        </div>
      </div>
     </div>
    
   <div id="user-information" class="grid_5">
     <div class="right-separator right-margin right-space">

      <% if profile.age %>
      <div class="item_properties_attributes top-margin smaller_text overflow">
        <div style="item_properties_attribute">
          <span class="item_properties_attribute_name more_contrast_text"><%=t.profile.gender%></span>
          <span class="item_properties_attribute_value more_contrast_text"><%=t.profile.age%></span>
        </div>
        <div style="item_properties_attributes">
          <div style="item_properties_attribute">
            <span class="item_properties_attribute_name"><%= age_sex[0]%></span>
            <span class="item_properties_attribute_value"><%= "#{age} #{t.profile.years}" %></span>
          </div>
        </div> 
      </div>
      <% end %>

        <% if profile.about_me %>
        <div class="top-margin">
          <div class="uppercase_text more_contrast_text smaller_text"><%=t.profile.about_me%></div>
          <div class="smaller_text">
            <%= profile.about_me.gsub(/\n/,'<br/>') %>
          </div>        
        </div>
        <% end %>

     </div> 
    </div>

     <div id="profile-description" class="grid_4">
      <div>
        <% if profile.creation_date and profile.creation_date.is_a?DateTime %>
        <div>
          <span class="less_contrast_text uppercase_text smaller_text"><%= t.profile.member_since %></span> 
          <span class="smaller_text"><%=profile.creation_date.strftime("%d.%m.%Y")%></span>
        </div>
        <% end %>          
        <% if defined?element_custom_above and not element_custom_above.empty?%>
        <div class="smaller_text top-margin">
          <%= element_custom_above %>
        </div>
        <% end %>             
      </div>
     </div>


    </div>
  </div>

  <div id="profile_bottom" class="container_12">

    <div class="grid_4">
    </div>
 
    <div id="user-extras" class="grid_8">
      <% if defined?profile_tabs and not profile_tabs.empty? %>
        <div class="no-border no-background left-margin left-space left-separator overflow ">
          <ul id="content_tabs" class="no-border no-background"class="no-border no-background">  
          <% profile_tabs.each do |profile_tab| %>
            <li class="no-border no-background" style="border:none; backgrond:none"><a name="<%=profile_tab[:id]%>" href="#<%=profile_tab[:id]%>"><%=profile_tab[:title]%></a></li>
          <% end %>
          </ul>
          <div id="content">
        <% profile_tabs.each do |profile_tab| %>
          <div id="<%=profile_tab[:id]%>">
            <%= profile_tab[:body] %>
          </div>
        <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

<!-- Extensions -->

<%= profile_action_extension %>
<%= profile_not_owner_action_extension %>

<% if defined?element_custom_extensions and element_custom_extensions.strip.length > 0 %>
<%= element_custom_extensions if defined?element_custom_extensions %>
<% end %>

<% if defined?element_actions_extensions and element_actions_extensions.strip.length > 0 %>
<%= element_actions_extensions if defined?element_actions_extensions%>
<% end %>

<script type="text/javascript">
  require(['jquery'], function($) {
    $(document).ready(function() {
      $("#content > div").hide(); // Initially hide all content
      $("#content_tabs li:first").attr("id","current"); // Activate first tab
      $("#content div:first").fadeIn(); // Show first tab content
    
      $('#content_tabs a').click(function(e) {
        e.preventDefault();
        if ($(this).closest("li").attr("id") == "current"){ //detection for current tab
         return;       
        }
        else{             
          $("#content > div").hide(); //Hide all content
          $("#content_tabs li").attr("id",""); //Reset id's
          $(this).parent().attr("id","current"); // Activate this
          $('#' + $(this).attr('name')).fadeIn(); // Show content for current tab
        }
      });
    });
  });
</script>